name: yamdb_workflow.yml

on: [push]

jobs:
  tests: 
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.7

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip 
        pip install flake8 pep8-naming flake8-broken-line flake8-return flake8-isort
        cd api_yamdb
        pip install -r requirements.txt 

    - name: Test with flake8 and pytest
      run: |
        pytest
        python -m flake8

  build_and_push_to_docker_hub:
      name: Push Docker image to Docker Hub
      runs-on: ubuntu-latest
      needs: tests
      steps:
        - name: Check out the repo
          uses: actions/checkout@v2 
        - name: Set up Docker Buildx
          uses: docker/setup-buildx-action@v1 
        - name: Login to Docker 
          uses: docker/login-action@v1 
          with:
            username: <ваш_username_dockerhub> 
            password: <ваш_пароль_dockerhub>
        - name: Push to Docker Hub
          uses: docker/build-push-action@v2 
          with:
            push: true
            tags: ваш-логин-на-docker-hub/ваш-репозиторий-на-docker-hub:latest
